[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks
[submodule "mods/player_api"]
	path = mods/player_api
	url = https://github.com/minetest-game/player_api
[submodule "mods/mtt"]
	path = mods/mtt
	url = https://github.com/buckarooBanzay/mtt
[submodule "mods/mapsync"]
	path = mods/mapsync
	url = https://github.com/BuckarooBanzay/mapsync
[submodule "mods/mtzip"]
	path = mods/mtzip
	url = https://github.com/BuckarooBanzay/mtzip
[submodule "mods/controls"]
	path = mods/controls
	url = https://github.com/mt-mods/controls
[submodule "mods/travelnet"]
	path = mods/travelnet
	url = https://github.com/mt-mods/travelnet
