[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks
[submodule "mods/player_api"]
	path = mods/player_api
	url = https://github.com/minetest-game/player_api
