[submodule "mods/default"]
	path = mods/default
	url = https://github.com/minetest-game/default
[submodule "mods/flowers"]
	path = mods/flowers
	url = https://github.com/minetest-game/flowers
[submodule "mods/doors"]
	path = mods/doors
	url = https://github.com/minetest-game/doors
[submodule "mods/player_api"]
	path = mods/player_api
	url = https://github.com/minetest-game/player_api
[submodule "mods/screwdriver"]
	path = mods/screwdriver
	url = https://github.com/minetest-game/screwdriver
[submodule "mods/creative"]
	path = mods/creative
	url = https://github.com/minetest-game/creative
[submodule "mods/dye"]
	path = mods/dye
	url = https://github.com/minetest-game/dye
[submodule "mods/sfinv"]
	path = mods/sfinv
	url = https://github.com/minetest-game/sfinv
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks.git
[submodule "mods/epic"]
	path = mods/epic
	url = https://github.com/damocles-minetest/epic
[submodule "mods/epic_skybox"]
	path = mods/epic_skybox
	url = https://github.com/damocles-minetest/epic_skybox
[submodule "mods/epic_weather"]
	path = mods/epic_weather
	url = https://github.com/damocles-minetest/epic_weather
[submodule "mods/bakedclay"]
	path = mods/bakedclay
	url = https://github.com/minetest-mirrors/bakedclay
[submodule "mods/jumping"]
	path = mods/jumping
	url = https://github.com/minetest-mods/jumping
[submodule "mods/pkarcs"]
	path = mods/pkarcs
	url = https://github.com/TumeniNodes/pkarcs
[submodule "mods/hidden_doors"]
	path = mods/hidden_doors
	url = https://github.com/minetest-mirrors/hidden_doors
[submodule "mods/xpanes"]
	path = mods/xpanes
	url = https://github.com/minetest-game/xpanes
[submodule "mods/vessels"]
	path = mods/vessels
	url = https://github.com/minetest-game/vessels
[submodule "mods/stairs"]
	path = mods/stairs
	url = https://github.com/minetest-game/stairs
[submodule "mods/glass_stained"]
	path = mods/glass_stained
	url = https://github.com/v-rob/glass_stained
